In [3]:
import pip


pip install googletrans==3.1.0a0

SyntaxError: invalid decimal literal (1879824740.py, line 4)

In [1]:
import pandas as pd
from googletrans import Translator

In [2]:
data = pd.read_csv("../../full data/data.csv")
print(data)

                                             complaint
0    माजरी चौक पंचकुला के पास घग्गर पुल पर दो कार क...
1    हरियाणा के पलवल में डिलीवरी के दौरान एक अधिक ख...
2    रोहतक के महम में सड़क हादसे में तीन श्रद्धालुओ...
3    यमुनानगर के जगाधरी की जड़ौदा गेट स्थित अखिल मे...
4    यमुनानगर के छछरौली के नेशनल हाईवे 907 पर शाम क...
..                                                 ...
176  पलवल में एक सवार शख्स से रोड पर चलते हुए दो लो...
177  आज बदमाशों ने एक पेट्रोल पंप से दिनदहाड़े 25 ल...
178  हरियाणा के हिसार में भाटला डाटा हाईवे पर बदमाश...
179   करनाल शहर में एक महिला का मोबाइल फोन छीनने के...
180  आज रात को हरियाणा के जींद शहर में एक रोडवेज़ ध...

[181 rows x 1 columns]

In [3]:
english= pd.DataFrame(columns=['complaint'])

In [4]:
translator = Translator()
translations = {}
for column in data.columns:
    #print(column)
    unique = data[column].unique()
   # print(unique)
    for element in unique:
        translations[element] = translator.translate(element).text
for i in translations.items():
    #add translation to new row in Complaints column of dataframe
    english.loc[len(english),'complaint'] = i[1]

In [5]:
english

                                             complaint
0    Two cars collided head-on at Ghaggar bridge ne...
1    A pregnant woman died due to excessive bleedin...
2    Three pilgrims were killed and 24 people were ...
3    While working in Akhil Metal Factory located a...
4    A painful accident took place in the evening o...
..                                                 ...
175  In Palwal, two people looted 40 lakhs from a r...
176  Today, miscreants looted Rs 25 lakh from a pet...
177  In Haryana's Hisar, on the Bhatla Data Highway...
178  A 27-year-old man was arrested along with his ...
179  Tonight a roadways section incident took place...

[180 rows x 1 columns]

In [6]:
english.to_csv('english.csv', index=False)